.noticia-more {
  font-size: 25px !important;
  position: absolute;
  right: -10px;
  top: -18px;
}

.card-cuentas {
  border: 1px solid gray;
  padding: 3px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 5px;
  margin-bottom: 10px;
}

.action-sheet-title{
  font-weight: 500 !important;
}